# Laravel / Node / Composer / Oracle
/node_modules
/vendor
.env
.env.*
.DS_Store
.idea/
.vscode/
/public/storage
/public/build
/public/hot
/public/mix-manifest.json
/public/css/*.map
/public/js/*.map
/public/js/app.js
/public/css/app.css
/public/js/app.js.map
/public/css/app.css.map
/storage/*.key
/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
composer.lock
npm-debug.log
yarn-debug.log
yarn-error.log
*.sql
*.bak
*.tmp
*.log
*.swp
*.swo
*.zip
*.tar.gz
*.7z
*.db
*.sqlite
*.iml
*.sublime*
*.code-workspace
*.phpunit.result.cache
Thumbs.db
Homestead.json
Homestead.yaml
auth.json
/.fleet
